* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.fbx {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-size: contain;
    background-color: #0C122C;
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: #DBD9FF;
}

article {
    /* background-color: #fff; */
    /* border: 1px solid #fff; */
    max-width: 920px;
    width: 100%;
    min-height: 201px;
    column-gap: 30px;
    row-gap: 16px;
    position: relative;
    flex-wrap: wrap;
}

.base {
    width: 350px;
    height: 201px;
    background: #1E2D69;
    box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
    border-radius: 10px 100px 10px 10px;
    padding: 40px;

    img {
        margin-bottom: 33px;
    }
}

.content {
    max-width: 540px;
    width: 100%;
    min-height: 154px;
    background: #1E2D69;
    box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
    border-radius: 10px;
    align-self: flex-end;
    padding: 40px;
}

.info {
    width: 179px;
    height: 72px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 75px 100px -30px rgba(0, 0, 0, 0.24776);
    border-radius: 10px 10px 0px 10px;
    top: 0;
    right: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    color: rgba(12, 18, 44, 0.5);
    column-gap: 9px;
    text-transform: uppercase;
}

.info span {
    font-size: 40px;
    line-height: 40px;
    color: #0C122C;
}

.info::before {
    /* background-color: #ff0000; */
    position: absolute;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    /* bottom: 0; */
    top: 100%;
    right: 0;
    border-width: 11px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #fff;
    border-top-color: #fff;

}

/*.info::after{
    position: absolute;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    
} */
.icons {
    gap: 16px;
    justify-content: start;
}

.icons>div {
    width: 48px;
    height: 48px;
    background: #0C122C;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center center;
}

.icons>div:nth-child(1) {
    background-image: url(./images/icon-document.svg);
    /* background-repeat: no-repeat; */
}

.icons>div:nth-child(2) {
    background-image: url(./images/icon-folder.svg);
    /* background-repeat: no-repeat; */
}

.icons>div:nth-child(3) {
    background-image: url(./images/icon-upload.svg);
    /* background-repeat: no-repeat; */
}

.content p {
    font-size: 14px;
    line-height: 16px;
    color: #DBD9FF;
    margin-bottom: 16px;
}

.baseline {
    width: 100%;
    height: 20px;
    background: rgba(12, 18, 44, 0.5);
    border-radius: 10px;
    align-content: center;
    padding: 0 0 0 3px;
    margin-bottom: 8px;
}

.progres {
    width: 75%;
    height: 14px;
    background: linear-gradient(90deg, #FFA197 0%, #FF4A95 100%);
    border-radius: 8px;
    align-content: center;
    padding: 0 2px 0 0;

}

.control {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    margin-left: auto;
    position: relative;
}

.control::after {
    position: absolute;
    top: 100%;
    left: calc(100% - 30px);
    /* transform: translateX(-50%) translateY(100%) ; */
    transform: translate(0%, 50%);
    display: inline-block;
    width: 50px;
    content: "715 GB";
    font-size: 12px;
    line-height: 14px;
    color: #1E2D69;
    background-color: #DBD9FF;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

.control::before {
    position: absolute;
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    top: calc(100% - 10px);
    left: calc(100% - 5px);
    transform: translate(-50%, 0);
    /* background-color: #DBD9FF; */
    /* border-color: red; */
    /* border-right-color: green; */
    /* border-top-color: red; */
    /* border-left-color: black; */

    border-width: 11px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #DBD9FF;
}

.capacity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.capacity span {
    font-size: 12px;
    line-height: 14px;
    color: #DBD9FF;
}

@media(max-width:920px) {
    article {
        /* background-color: red; */
    }

    .info::before {
        display: none;
    }

    .info {
        border-radius: 10px;
        top: 100%;
        right: 50%;
        transform: translate(50%,-25%);
    }
}
@media(max-width:550px){
    article{
        padding: 0 25px;
    }
}